* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: blue;
    height:308px;
    width: 2160px;

}
.proeqtebi{
    width: 184px;
    height: 38px;
    padding-left: 240px;
    padding-top: 70px;
}
h1{
    size: 32px;
    color:#FFFFFF;
    font: normal normal bold 32px/39px Helvetica Neue;
}
img{
    width: 463px;
    height:420px;
    margin-right:25px;
    border: 2px solid red;   
    background-color: #FFFFFF; 
    border-radius: 28px;
}
#suratebi{    
    display: inline-flex;
    width: max-content;
}
div{
    padding-right: 45px;
}
p{
    color:#171717;
    size: 18px;
    text-align: left;
    text-transform: uppercase;
    font: normal normal normal 18px/22px Helvetica Neue;
    padding-top: 30px;
    padding-left: 30px;
    backdrop-filter: blur(10px);
    border-radius: 12px;
    width: 443px;
    height: 125px;
    background-color: #FFFFFF;
    border: 2px rgb(220, 228, 255);
    border-radius: 28px;
}
.relative{
    position: relative;
}
.absolute {
    position: absolute;
    top:158px;
    left:240px;
    width: 443px;
    height: 125px;
    background-attachment: fixed;
}
.absolute1{
    position: absolute;
    top: 443px;
    left:250px;
    display:inline-flex;
    width: max-content;
}
#absolute11{
     background-color:blue;
}


